:root {
	--body-color: 0, 0%;
	--body-color-light: 100%;

  --bs-primary: #FF4C29 !important;
	--bs-body-bg: #334756 !important;
	--bs-body-color: hsl(var(--body-color), var(--body-color-light)) !important;
}

body {
	background: linear-gradient(120deg, #334756, #2679AD);
	min-height: 100vh;
	padding-top: 1rem;
}

.profile-container{
   padding-top: 1rem;
   text-align: center;
   margin: 5px;
}
.profile-container img{
  border: 0.1rem solid white;
  border-radius: 50%;
}
.btn{
   margin:5px;
}
.links{
   text-decoration: none;
   color: rgb(156, 156, 156);
   margin: 5px;
   
}
.links:hover{
   color: #FF4C29;
}


.card{
   margin: 10px;
   padding: 10px;
   background-color: #2679AD;
   text-decoration: none;
   color: rgb(51, 49, 49);
}
.card:hover{
   color: #FF4C29;
}

.img-container img{
   width:100%;
   border-radius: 5px;
}
