<div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <a href="#" class="card">
    <img src="./images/pexels-leif-bergerson-9764731.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <h6 class="card-subtitle mb-2">
        <img src="./images/profile-pic-example.png" class="grid-item-profile-pic" alt="...">
        <span class="text-muted">Card subtitle</span>
      </h6>
      <div class="card-text text-end">
        <small class="text-muted">2022-01-19, 16:32</small>
      </div>
    </div>
  </a>
</div>

<!--
A single image card, modify the classes at the top "col-12", "col-sm-6"
etc to change how the items react on different screen sizes, use bootstrap
grid v5.0 docummentation to understand the different values.

The above template should be used inside of this: -->
<div class="container-fluid">
  <div class="row g-0" data-masonry='{"percentPosition": true, "horizontalOrder": "true", "transitionDuration": "0.2s" }' >

  </div>
</div>