@import url("components/grid_item.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
	--body-color: 0, 0%;
	--body-color-light: 100%;

  --bs-primary: #FF4C29 !important;
	--bs-body-bg: #334756 !important;
	--bs-body-color: hsl(var(--body-color), var(--body-color-light)) !important;
}

body {
	background: linear-gradient(120deg, #334756, #2679AD);
	min-height: 100vh;
	padding-top: 1rem;
}

.item-grid .dropdown .btn-link {
	color: white;
	text-decoration: none;
}

.item-grid .dropdown .btn-link:hover {
	color: var(--text-muted);
}

.item-grid .dropdown .btn-link:focus {
	box-shadow: none;
}